#current_opening{
    background: #F2F3F8;
    padding: 100px 0px;
}

.current_opening_heading{
    h3{
        font-weight: 600;
        font-size: 25px;
        color: $titleColor;
    }
}

.current_opening_tabs_area{
    margin-top: 40px;
}

.current_opening_tab_btn{
    .nav{
        display: flex;
        justify-content: space-between;
        // background: #fff;
        border-radius: 4px;
        position: relative;
        z-index: 1;
        li{
            flex: 1;
            width: 100%;
            button{
                border: none;
                background: transparent;
                color: $titleColor;
                font-weight: 500;
                font-size: 14px;
                padding: 15px 0px;
                display: block;
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    margin-right: 7px;
                    pointer-events: none;
                }
            }
            .active{
                color: #fff;
            }
        }
        .tab_active_slide{
            position: absolute;
            bottom: 0;
            transition: left 0.5s ease-in-out, width 0.5s 0.10s;
            height: 10px;
            background-color: $hover;
            left: 0;
            height: 100%;
            pointer-events: none;
            z-index: -1;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
            border-radius: 4px;
        }
    }
}

.current_opening_tab_content{
    margin-top: 30px;
    .tab_item_content{
        background: #fff;
        padding: 20px 20px;
        border-radius: 4px;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0px;
        }
        .tab_content_left{
            h4{
                font-weight: 600;
                font-size: 16px;
                color: $titleColor;
            }
            p{
                font-size: 13px;
                color: $bodyColor;
                margin-top: 3px;
            }
        }
        .tab_content_right{
            .btn_bg2{
                height: 45px;
                line-height: 45px !important;
                font-size: 13px;
                padding: 0px 40px;
            }
        }
    }
}