#feater_box{
    padding: 0px 0px 100px 0px;
    background: #fff;
}

.feater_box_item{
    min-height: 90vh;
    display: flex;
    &:last-child{
        margin-bottom: 0px;
    }
    .content_box{
        h3{
            font-weight: 600;
            font-size: 35px;
            line-height: 45px;
            span{
                color: #fff;
                text-shadow:
                  -1px -1px 0 $mainColor,
                  1px -1px 0 $mainColor,
                  -1px 1px 0 $mainColor,
                  1px 1px 0 $mainColor; 
            }
        }
        p{
            margin-top: 13px;
            font-size: 15px;
            color: $bodyColor;
            line-height: 25px;
        }
    }

    .ml_box{
        padding-left: 30px;
    }

    .feater_box_image{
        position: relative;
    }

    .main_product_image{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 14px;
        z-index: 4;
        // background: #fff;
        position: relative;
        width: 100%;
    }
}